footer {
	margin-left: 1%;
	margin-right: 1%;
	border-top: solid 2px grey;
	display: flex;
	justify-content: center;
	align-content: space-around;
}

footer img {
	opacity: 0.5;
	margin: 13.2%;
	margin-top: 1%;
	margin-bottom: 1%;
}
